@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background-light: #FAFAFA;
  --text-light: #1A1A1A;
  --content-light: #ADD8E6;

  --background-dark: #1A1A1A;
  --text-dark: #FAFAFA;
  --content-dark: #FF4500;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Poppins', sans-serif;
}

h1, button, .content {
  color: var(--content-light);
  transition: color 0.3s;
}

body.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

body.dark h1,
body.dark button,
body.dark .content {
  color: var(--content-dark);
}
